<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Real Estate</title>
     <link rel="stylesheet" href="Header.css">
     <link rel="stylesheet" href="media.css">
    

</head>
<body>
    <div class="back">
      <img src="Nav.jpg" class="nav">
      <img src="Frame 3.jpg" class="frame">
    </div>
    <img src="Header image.png" class="Header">
    <div class="Id">Real Estate-Focused Digital Mastery</div>
    <img src="cuate.jpg" class="cuate">
    <img src="Frame 337.jpg" class="frame1">
    <img src="Services section.png" class="Service">
    <img src="Frame 290.png" class="frame2">
    <img src="Frame 893.png" class="frame3">
    <img src="Frame 890.png" class="frame4">
    <img src="Frame 884.png" class="frame5">
    <img src="Frame 889.png" class="frame6">
    <img src="Frame 891.png" class="frame7">
    <div>
    <!-- <img src="Ellipse 193.png" class="Ellipse1">
    <img src="Ellipse 192.png" class="Ellipse2"> -->
    <!-- <img src="Frame 869.png" class="frame8"> -->
    <img src="Frame 874.png" class="frame9">
  </div>
  <img src="Form section.png" class="form">
  <img src="Frame 454.png" class="frame10">
</body>